.playAction {
  width: 100%;
}

.player1, .player1-pits {
  background-color:grey;
}

.player2, .player2-pits {
  background-color:brown;
}

.gameStatus {
	margin: 0px;
	padding: 15px;
  background-color: #34495e;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
}

.restart {
  background-color: #34495e;
  color: #fff;
  border: 0px;
  font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0px;
  padding: 15px;
  width: 100%;
}

.restart:hover {
  background-color: #c1cdcd;
  cursor: pointer;
}