<div class="layout">
		<div class="gameStatus" >
			{{gameStatusMessage}}
		</div>
    <div class="container">
      <div class="mancala player1">
        <mancala [stonecount]="0"></mancala>
      </div>
      <div class="board">
        <div class="player1-pits">
          <pit *ngFor="let pos of [0,1,2,3,4,5]"
            [state]="pits[pos]"
            (click)="handleMove(pos)"
          >
          </pit>
        </div>
        <br>
        <div class="player2-pits">
          <pit *ngFor="let pos of [6,7,8,9,10,11]"
            [state]="pits[pos]"
            (click)="handleMove(pos)"
          >
          </pit>
        </div>
      </div>
      <div class="mancala player2">
        <mancala [stonecount]="0"></mancala>
      </div>
    </div>
    <div class="playAction">
      <button class="restart" (click)="restartGame()">New Game</button>
    </div>
</div>
	