.mancala {
  width:100px; height:224px;
  position:relative;
  margin:10px;
  border-radius:40px;
  background-color:white;
  p {
    position:absolute;
    top:40%;
    width:100%;
    align-self: center;
    transform:translate(0, -40%);
  }
}