.pit {
  width:90px; height:90px;
  display:inline-block;
  position:relative;
  margin:10px;
  border-radius:100%;
  background-color:white;
  color: #000;
  cursor:pointer;
  p{
    position:absolute;
    top:40%;
    width:100%;
    transform:translate(0, -60%);
    text-align:center;
  }
}